<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
	<select id="getStudentList" resultType="com.example.demo.bean.User">
		select username 'username',
		password 'password',
		roleId 'roleId',
		true_name 'name'
		from sys_user
		where roleId = 1;
	</select>
</mapper>